export(habr_get_posts_stat)
export(habr_hub_top_authors)
export(habr_user_post_id)
importFrom(rvest, read_html) 
importFrom(rvest, html_nodes) 
importFrom(rvest, html_attr) 
importFrom(rvest, html_text)
importFrom(purrr, map, map_df)
importFrom(stringr, str_replace, str_interp)
importFrom(dplyr, "%>%")
